body{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.green {
    color: green;
}

#first {   
    color: purple;

}
.bigger {
    font-size: 25pt;
}

.second {
    color: chartreuse;
}

main .green{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black
}

.dark {
    background-color: rgb(208, 255, 0);
}
.emp {
    color: red;
}
.demp {
    color: blueviolet;
}